.large-hero {
  position: relative;
}

.large-hero__text-content{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     text-align: center;
     transform: translateY(9%);
}

.large-hero__title{
  font-weight: 300;
  color: #2f5572;
  font-size: 4.8rem;
}
